{% set page_type = 'index' %}
{% set title = 'Accueil projet' %}

{% extends 'layout-public.html.twig' %}

{% block body %}
    <section id="main" role="main">

        <h1>Accueil du projet</h1>

        <p>
            Vous rejoindre quel partie ?
        </p>

        <ul>
            <li><a href="{{ URL_PROJECT_PUBLIC }}">Publique</a></li>
            <li><a href="{{ URL_PROJECT_PRIVATE }}">Privée</a></li>
        </ul>

    </section>
{% endblock %}